*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

@font-face{
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face{
    font-family: 'Raleway bold';
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face{
    font-family: 'Raleway black';
    src: url(../fonts/Raleway-Black.ttf);
}

p, a{
    font-family: 'Raleway';
    font-size: 18px;
}

h2, h3, h4, .signup a{
    font-family: 'Raleway Bold';
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 20px;
}

.logo{
    margin: 0 0 0 2%;
    width: 80%;
}

.logo img{
    width: 15%;
}

a{
    text-decoration: none;
}

.home-location a:visited,.popular a:visited, .activity a:visited{
    color: black;
}

.filter img{
    height: 20px;
    width: 20px;
}

.home-location img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    max-height: 70%;
}

.popular img{
    width: 24px;
}

.popular article img{
    width: 128px;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
}

nav{
    display: block;
    width: 30%;  
}

.signup{
    display: block;
    width: 15%;
}

nav a{
    padding: 10%;
    display: inline-block;
    border-top: 4px solid #ffffff;
    transition: border ease-in-out 200ms;  
}

.signup a{
    padding: 18% 10%;
    border-top: 4px solid #ffffff;
    transition: border ease-in-out 200ms;
}

nav a:hover, .signup a:hover{
    border-top: 4px solid #0065FC;
}

nav a:visited, .signup a:visited{
    color: #0065FC ;
}

.heading{
    clear: both;
    padding: 2% 2% 0;
}

.heading h2{
    margin-bottom: 1%;
}

.intro{
    margin: 2% 0;
}

.search img{
    height: 14px;
    float: left;
    padding:11px 10px 11px 15px;
    background: #f2f2f2;
    border: 2px #f2f2f2 solid;
    border-radius: 12px 0px 0px 12px;
}

.search input{
    height: 40px;
    border: 2px #f2f2f2 solid;
    float: left;
}

.search input::placeholder{
    font-family: 'Raleway Bold';
    font-size: 12px;
    color:black;
    padding: 10px;
}

.search{
    width: 30%;
    margin: 1% 0px 5% 0px;
}


input[type="submit"]{
    font-family: 'Raleway Bold';
    color:white;
    background:#0065FC;
    padding:12px;
    border-radius: 0px 12px 12px 0px;
    border: none;
}

input[type="submit"]:hover{
    cursor: pointer;
    filter: brightness(1.2);
}

.submit--mobile{
    display: none;
}

.filter{
    clear: both;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 6% 0 2% 0;
}

.filter-title{
    margin: 0px 12px 0px 0px ;
    width: 5%;
    float: left;
}

.filter-value{
    float: left;
    margin: 0px 12px 0px 12px;
    border: solid #f2f2f2 2px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: all ease-in-out 200ms;
}

.filter-value img{
    float: left;
    border-radius: 20px;
    padding: 10px;
    background: #DEEBFF;
    width: 25px;
}

.filter-value p{
    font-family: 'Raleway Bold';
    font-size: 16px;
    display: flex;
    padding: 5px 15px 5px 15px ;
}

.filter-value:hover{
    background-color: #deebff;
    color:#0065FC;
    cursor: pointer;
}

.infos{
    clear: both;
    display: flex;
    align-items: center;
}

.infos img{
    padding: 5px 9px;
    border: 2px solid #f2f2f2;
    border-radius: 100px;
    height: 12px;
    float: left;
    margin: 0px 10px 0px 0px;
}

.rating{
    width: 45%;
    float: left;
}

.rating img, .popular .rating img{
    width: 16%;
    object-fit: contain;
}

.home{
    float: left;
    height: 686px;
    padding: 1.5%;
}

.home-location{
    width: 61%;
    margin: 1.6%;
    background: #f2f2f2;
    border-radius:20px;
    height: 625px;
    padding: 1% 0% 1% 1%;
    float: left;
}



.home-location article:hover, .popular article:hover{
    transform: scale(1.05);
}

.home-location article{
    background: white;
    border-radius:20px;
    margin: 2.4% 1.8%;
    width: 27.95%;
    float: left;
    height: 210px ;
    overflow: hidden;
    padding: 0.5%;
    box-shadow: #a0a0a0 0px 0px 10px;
    transition: transform ease-in-out 200ms;
}

.home-container, .popular-container{
    padding: 0% 5%;
}

.home-location article img{
    max-height: 65%;
    object-fit: cover;
}


.more a{
    color:black;
    font-family: 'Raleway Bold';
    position: relative;
    top: 3%;
    left: 2%;
}

.popular{
    padding: 1%;
    margin: 1.5%;
    width: 29%;
    height: 625px;
    background: #f2f2f2;
    border-radius:20px;
    float: left;
}

.popular a{
    color: black;
}

.popular-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}
.home-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}

.popular article{
    clear: left;
    background: white;
    border-radius:20px;
    margin: 25px;
    padding: 1%;
    width: 81.6%;
    height: 144px;
    transition: transform ease-in-out 200ms;
    box-shadow: #a0a0a0 0px 0px 10px;
}

.popular-container{
    min-width: 90%;
    height: 100%;
}

.popular-container .rating{
    height: 90%;
    display: flex;
}

.popular-container .rating > img{
    align-items: flex-end;
}

.popular article img{
    float: left;
    width: 37%;
    object-fit: cover;
    height: 100%;
    margin-right: 3%;
    border-radius: 20px 0px 0px 20px;
}

.activity{
    clear: both;
    height: 568px;
    width: 100%;
    padding: 0.5% 0 2% 2%;
    margin: 0 0 3% 0;
}

.activity-title{
    display: flex;
    align-items: center;
    margin: 2% 0 1% 1%;
}

.activity a, .home-location a, .popular-container a{
    color: black;
}

.card-large:hover, .card-small:hover{
    transform: scale(1.05);
}

.large, .small{
    float: left;
    height: 90%;
    width: 24%;
}

.card-large, .card-small{
    transition: transform ease-in-out 200ms;
    width: 90%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: #a0a0a0 0px 0px 10px;
    margin: 3%;
}

.card-large .card-container, .card-small .card-container{
    background: white;
    display: flex;
    align-items: center;
    padding: 0 0 0 4%;
}

.card-large{
    height: 96%;
}

.card-small{
    height: 45%;
    margin-bottom: 10%;
}

.card-small--taller{
    height: 55%;
    margin-bottom: 8%;
}
.card-small--smaller{
    height: 35%;
}

.card-small--taller:first-child img{
    height: max-content;
    max-height: 82%;
}

.card-small--smaller:first-child img{
    height: max-content;
    max-height: 75%;
}

.card-large img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    filter: brightness(1.3);
}

.card-small img{
    width: 100%;
    height: max-content;
    max-height: 80%;
    object-fit: cover;
    filter: brightness(1.3);
}

.card-container h3{
    margin: 2%;
}

footer{
    clear: both;
    background: #f2f2f2;
    width: 100%;
    height: 90%;
    display: flex;
}

footer article{
    float: left;
    width: 25%;
    padding: 3%;
}

footer h4{
    font-family: 'Raleway bold';
    font-size: 20px;
}

footer ul li{
    list-style: none;
    margin: 5% 0%;
}

footer a{
    color: black;
    font-size: 18px;
    font-family: 'Raleway';

}

@media screen and (max-width: 768px){
    /* Pour mobiles */

    *{
        margin: 0;
        padding: 0;
    }

    html{
        width: 100%;
        overflow-x: hidden;
    }

    body{
        width: 100%;
        overflow-x: hidden;
    }

    header{
        display: inline-block;
        width: 100%;
        height: auto;
        padding-top: 2%;
    }

    .logo{
        float: left;
        display: block;
        width: 50%;
        margin: 0 0 0 8%;
    }

    .logo img{
        width: 50%;
    }
    
    nav{
        width: 100%;
        text-align: center;
        display: inline-block;
        margin: 5% 0 0;
    }

    nav a{
        color: black;
        float: left;
        width: 50%;
        margin: 0;
        padding: 0;
        border-top: none;
        border-bottom: 4px solid #f2f2f2;
        line-height: 40px;
    }

    nav a:hover{
        color: #0065FC ;
        border-top: none;
        border-bottom: 4px solid #0065FC;
    }

    nav a:visited{
        color: black;
    }

    .signup{
        float: right;
        position: absolute;
        display: block;
        right: 15%;
        top: 3.5%;
    }

    .signup a{
        padding: 0;
        border:none;
    }

    .signup a:hover{
        border:none;
        filter: brightness(1.2);
    }

    .heading{
        display: inline-block;
        clear: both;
        width: 100%;
        padding: 0;
    }

    .intro{
        width: 90%;
        align-content: center;
        justify-content: center;
        padding: 5% 5% 10% 8%;
        display: flex;
        flex-direction: column;
    }

    .search{
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
        margin: 2%;
        padding: 3%;
    }

    form{
        width: 80%;
    }

    .search img{
        height: 18px;
        padding:14px 10px 13px 15px;
        background: inherit;
        border: inherit;
        border-radius: 12px 0px 0px 12px;
    }
    
    .search input{
        height: 50px;
        border: 2px #f2f2f2 solid;
    }
    
    .search input::placeholder{
        font-family: 'Raleway Bold';
        font-size: 16px;
        color:black;
        padding: 5%;
    }

    input[type="search"]{
        width: 70%;
    }

    input[type="submit"]{
        display: none;
    }

    .submit--mobile{
        display: block;
        background: #0065FC;
        width: 18px;
        padding: 0.2% 5%;
        border-radius: 15px;
        position: relative;
        top: -2%;
        left: -5%;
        border: none;
    }
        
    .filter{
        margin: 0;
        padding: 1.5%;
        width: 100%;
        display: inline-block;
        height: auto;
        clear: both;
    }

    .filter-title{
        margin: 2% 0 2% 2%;
        width: 100%;
        font-family: 'Raleway Bold';
    }

    .filter-value{
        margin: 1.5%;
        padding: 0;
    }

    .infos{
        clear: both;
        margin: 2% 0;
        padding: 5%;
    }

    .infos p{
        font-size: 15px;
    }

    .home{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        float: none;
        margin: 0 0 10% 0;
        padding: 0;
    }

    .popular{
        margin: 0;
        padding: 5% 0 10% 0;
        border-radius: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .popular article{
        margin: 2%;
        padding: 1.5%;
        width: 90%;
    }

    .popular-container{
        width: 90%;
    }

    .popular article h3{
        font-size: 18px;
        margin-bottom: 3%;
    }

    .popular article p{
        font-size: 14px;
    }

    .popular .rating{
    }

    .home-location{
        margin: 5% 2.5%;
        height: auto;
        width: 100%;
        background-color: white;
        float: none;
    }

    .home-title{
        margin: 5% 0 5% 2%;
    }

    .home-location article{
        margin: 3% 0;
        width: 90%;
        padding: 1.5%;
    }

    .more{
        position: relative;
        top: 20px;
    }

    .activity{
        height: auto;
        margin: 0;
        padding: 0;
        clear: both;
        width: 100%;
        float: none;
        overflow:hidden;
    }

    .activity-title{
        margin: 0 0 0 5%;
    }

    .large, .small{
        width:100%;
        float: none;
        height: 20%;
    }

    .card-large, .card-small{
        width: 90%;
        height: 200px;
        margin: 7% 5%;
    }

    .card-large img, .card-small img{
        max-height: 75%;
    }

    footer{
        padding: 10% 5%;
        height: 500px;
        display: block;
    }

    footer article{
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px){

    h3{
        font-size: small;
    }

    p{
        font-size: small;
    }

    header{
        width: 100%;
        display: flex;
        align-content: center;
    }
    
    .logo{
        display: block;
        width: 45%;
    }

    .logo img{
        width: 30%;
    }

    nav{
        display: flex;
        justify-content: space-around;
        width: 35%;
        text-align: center; 
    }
    
    nav a{
        display: inline-block;
    }

    .signup{
        margin: 0 1%;
        text-align: center;
        display: flex;
        width: 15%;

    }

    .signup a{
        padding: 23.5% 0;
    }

    .intro p{
        font-size: medium;
    }

    .search{
        width: 50%;
        display: inline-block;
        margin: 2% 0 2% 0;
    }

    .filter{
        margin: 2% 0 2% 0;
    }

    .home-location article > img{
        height: max-content;
        max-height: 60%;
    }

    .home-container .rating{
        width: 70%;
    }

    .home-container .rating img{
        width: 15%;
    }

    .more{
        display: inline;
    }

    .popular-container{
        width: 95%;
    }

    .card-small img{
        height: max-content;
        max-height: 80%;
    }
    
}